[Unit]
Description=Teleport SSH Service
After=network.target
After=systemd-machine-id-commit.service
Requires=systemd-machine-id-commit.service

[Service]
Type=simple
Restart=on-failure
Environment=TELEPORT_OPTIONS=
EnvironmentFile=-/etc/default/teleport
ExecStart=/usr/bin/teleport start --config=/etc/teleport.yaml --pid-file=/run/teleport.pid --token=%m --nodename=%H $TELEPORT_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/teleport.pid
LimitNOFILE=524288

[Install]
WantedBy=multi-user.target
